@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <div class="error mx-auto" data-text="@Model.ErrorCode">@Model.ErrorCode</div>
    <p class="lead text-gray-800 mb-5">@Model.ErrorMessage</p>
    <p class="text-gray-500 mb-0">@Model.ErrorDescription</p>
    <a href="/">&larr; Back to Dashboard</a>
</div>

@section Styles {
    <style>
        .error {
            color: #5a5c69;
            font-size: 7rem;
            position: relative;
            line-height: 1;
            width: 12.5rem;
        }

        .error:before {
            content: attr(data-text);
            position: absolute;
            left: -2px;
            text-shadow: 1px 0 #4e73df;
            top: 0;
            color: #5a5c69;
            background: #f8f9fc;
            overflow: hidden;
            clip: rect(0, 900px, 0, 0);
            animation: noise-anim-2 3s infinite linear alternate-reverse;
        }

        .error:after {
            content: attr(data-text);
            position: absolute;
            left: 2px;
            text-shadow: -1px 0 #e74a3b;
            top: 0;
            color: #5a5c69;
            background: #f8f9fc;
            overflow: hidden;
            clip: rect(0, 900px, 0, 0);
            animation: noise-anim 2s infinite linear alternate-reverse;
        }

        @@keyframes noise-anim {
            0% {
                clip: rect(49px, 9999px, 40px, 0);
            }
            5% {
                clip: rect(75px, 9999px, 72px, 0);
            }
            10% {
                clip: rect(97px, 9999px, 93px, 0);
            }
            15% {
                clip: rect(15px, 9999px, 9px, 0);
            }
            20% {
                clip: rect(14px, 9999px, 92px, 0);
            }
            25% {
                clip: rect(18px, 9999px, 94px, 0);
            }
            30% {
                clip: rect(17px, 9999px, 20px, 0);
            }
            35% {
                clip: rect(71px, 9999px, 59px, 0);
            }
            40% {
                clip: rect(42px, 9999px, 84px, 0);
            }
            45% {
                clip: rect(56px, 9999px, 25px, 0);
            }
            50% {
                clip: rect(46px, 9999px, 14px, 0);
            }
            55% {
                clip: rect(47px, 9999px, 1px, 0);
            }
            60% {
                clip: rect(64px, 9999px, 58px, 0);
            }
            65% {
                clip: rect(89px, 9999px, 92px, 0);
            }
            70% {
                clip: rect(56px, 9999px, 39px, 0);
            }
            75% {
                clip: rect(80px, 9999px, 71px, 0);
            }
            80% {
                clip: rect(8px, 9999px, 13px, 0);
            }
            85% {
                clip: rect(66px, 9999px, 68px, 0);
            }
            90% {
                clip: rect(68px, 9999px, 4px, 0);
            }
            95% {
                clip: rect(56px, 9999px, 14px, 0);
            }
            100% {
                clip: rect(28px, 9999px, 53px, 0);
            }
        }

        @@keyframes noise-anim-2 {
            0% {
                clip: rect(16px, 9999px, 10px, 0);
            }
            5% {
                clip: rect(22px, 9999px, 29px, 0);
            }
            10% {
                clip: rect(45px, 9999px, 83px, 0);
            }
            15% {
                clip: rect(54px, 9999px, 90px, 0);
            }
            20% {
                clip: rect(70px, 9999px, 98px, 0);
            }
            25% {
                clip: rect(80px, 9999px, 70px, 0);
            }
            30% {
                clip: rect(87px, 9999px, 80px, 0);
            }
            35% {
                clip: rect(4px, 9999px, 169px, 0);
            }
            40% {
                clip: rect(14px, 9999px, 122px, 0);
            }
            45% {
                clip: rect(23px, 9999px, 178px, 0);
            }
            50% {
                clip: rect(64px, 9999px, 145px, 0);
            }
            55% {
                clip: rect(98px, 9999px, 114px, 0);
            }
            60% {
                clip: rect(106px, 9999px, 180px, 0);
            }
            65% {
                clip: rect(133px, 9999px, 179px, 0);
            }
            70% {
                clip: rect(143px, 9999px, 152px, 0);
            }
            75% {
                clip: rect(166px, 9999px, 141px, 0);
            }
            80% {
                clip: rect(171px, 9999px, 127px, 0);
            }
            85% {
                clip: rect(178px, 9999px, 114px, 0);
            }
            90% {
                clip: rect(184px, 9999px, 162px, 0);
            }
            95% {
                clip: rect(198px, 9999px, 129px, 0);
            }
            100% {
                clip: rect(200px, 9999px, 111px, 0);
            }
        }
    </style>
}
